body{
    background-color: black;
}

h1{
    color: white;
}
div{
    text-align: center;
}

button{
    height: 3em;
    width: 5.5em;
    border: none;
}

button:hover{
cursor: pointer;
}

.start-btn{
    background-color: green;
}

.pause-btn{
    background-color: gray;
}

.stop-btn{
    background-color: red;
}
